{% extends 'BrasserieBundle::layout.html.twig' %}


{% block body %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <div class="container-fluid">
            <div class="row marge">
                <div class="col-lg-4">
                    <iframe scrolling="no" frameborder="0" allowTransparency="true" src="http://www.deezer.com/plugins/player?format=square&autoplay=true&playlist=true&width=300&height=300&color=007FEB&layout=dark&size=medium&type=playlist&id=2362546442&app_id=1" width="300" height="300"></iframe>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive playimg" src="{{ asset ('images/hippieale.JPG')}}" alt="bière bio Brasserie du Vauret">
                </div>
                <div class="col-lg-4">
                    <h1 class="playtitle">La Hippie Ale</h1>
                    <p class="textplay">Cette bière s’inspire du style « India Pale Ale » une ambrée houblonnée d’origine anglaise mais qui est passée par la Belgique ! Une vrai fausse IPA, car l’amertume du houblon est compensé par le corps et le gout malté de la bière. Alc : 7° - Amertume : 40 IBU (légèrement amère) </p>
                </div>
            </div>
        </div>


    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

