/*Partie Jumbotron*/
.jumbotron {
    padding:30px 15px;
    margin-bottom:30px;
    background-image: url('../img/une.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    width:100%;
    color: white;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    margin-bottom: 30px;

}

.slogan {
    margin-top: 15%;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
}

/*Partie icônes animées*/
.bloc1 {
    margin-top: 60px;
}

.icone1 {
    border: 25px solid;
    border-radius: 100px 100px 100px 100px;
    height: 200px;
    width: 200px;
    text-align: center;
    margin-left: 19%;
    background-color: #FF1300;



}
.icone2 {
    border: 25px solid;
    border-radius: 100px 100px 100px 100px;
    height: 200px;
    width: 200px;
    text-align: center;
    margin-left: 15%;
    background-color: #FF1300;

}
.icone3 {
    border: 25px solid;
    border-radius: 100px 100px 100px 100px;
    height: 200px;
    width: 200px;
    text-align: center;
    margin-left: 14%;
    background-color: #FF1300;

}
.glyphicon-info-sign {
    margin: 40% auto 50% auto;
    color: #47c1c2;
}
.glyphicon-home {
    margin: 40% auto 50% auto;
    color: #47c1c2;
}
.glyphicon-music {
    margin: 40% auto 50% auto;
    color: #47c1c2;
}
.center_icons {
    margin-top: 35%;
    color: white;
}
.hover_color{
    font-weight:bold;
    font-size:60px;
    color : #FF1300;
    cursor:pointer;
    transition: color 1s;
    -moz-transition: color 1s; 
    -webkit-transition: color 1s; 
    -o-transition: color 1s; 
}

.hover_color:hover{
    color : #FF9500;
    transition: color 0.5s;
    -moz-transition: color 0.5s; 
    -webkit-transition: color 0.5s; 
    -o-transition: color 0.5s; 
}

Bloc de texte
.text1 {
    text-align: center;
    margin-top: 60px;
}
.text_icon {
    text-align: center;
    margin: 30px;
}
.inter_bloc {
    background-image: url('../img/full3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
}

