.ico-flip {
  height: 100%;
}
@import url(http://fonts.googleapis.com/css?family=PT+Sans);


p {
  font-weight: 400;
}
h4 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 35%;
}
.rond-bloc {
  padding-top: auto;
  padding-bottom: auto;
}

.ch-grid {
  margin: 32px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 2% 6% 9% 6%;
}
.ch-grid:before, .ch-grid:after {
  content: '';
  display: table;
  clear: both;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}
.ch-item:hover .ch-info-back {
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
  -moz-transform: rotate3d(1, 0, 0, 0deg);
  -o-transform: rotate3d(1, 0, 0, 0deg);
  -ms-transform: rotate3d(1, 0, 0, 0deg);
  transform: rotate3d(1, 0, 0, 0deg);
  opacity: 1;
}
.ch-item:hover .ch-info-front {
  -webkit-transform: translate3d(0, 240px, 0) rotate3d(1, 0, 0, -90deg);
  -moz-transform: translate3d(0, 240px, 0) rotate3d(1, 0, 0, -90deg);
  -o-transform: translate3d(0, 240px, 0) rotate3d(1, 0, 0, -90deg);
  -ms-transform: translate3d(0, 240px, 0) rotate3d(1, 0, 0, -90deg);
  transform: translate3d(0, 240px, 0) rotate3d(1, 0, 0, -90deg);
  opacity: 0;
}

.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
  background-color: rgba(255, 222, 115, 0.9);
  box-shadow: 0 0 0 10px rgba(255, 222, 115, 0.5), 0 0 0 3px #e8e8dd;
}

.ch-info-front {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #162a43;
  text-shadow: 0 1px 0 #e8e8dd;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  white-space: nowrap;
}

.ch-info > .ch-info-back {
  -webkit-transform: translate3d(0, 0, -180px) rotate3d(1, 0, 0, 90deg);
  -moz-transform: translate3d(0, 0, -180px) rotate3d(1, 0, 0, 90deg);
  -o-transform: translate3d(0, 0, -180px) rotate3d(1, 0, 0, 90deg);
  -ms-transform: translate3d(0, 0, -180px) rotate3d(1, 0, 0, 90deg);
  transform: translate3d(0, 0, -180px) rotate3d(1, 0, 0, 90deg);
  background-color: #f02d17;
  box-shadow: 0 0 0 10px rgba(232, 232, 221, 0.2), 0 0 0 3px #fff;
  opacity: 0;
}

.ch-info-back {
  font-family: 'Roman-Antique', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 0 #069D80;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 0.4em;
}

.ch-info-back > p {
  color: #fff;
  margin: 0 23px 12px 23px;
  font-size: 12px;
  line-height: 14px;
}

.ch-info-back > a {
  display: inline-block;
  background: url(http://i57.tinypic.com/li6bs.png) 0 0 no-repeat;
  width: 20px;
  height: 20px;
}
.ch-info-back > a:hover {
  background: url(http://i57.tinypic.com/li6bs.png) 0 -25px no-repeat;
}
.flip-img {
  height: 170px;
  width: 170px;
  margin-top: 7%;
}
.flip-title {
  text-align: center;
  font-family:'Roman-Antique', cursive;
  font-size: 50px;

}
.flip-title2 {
  text-align: center;
  font-family:'Roman-Antique', cursive;

}
.slogan2 {
  font-family: 'Roman-Antique';
  color: #ffffff;
  text-align: center;
  font-size: 100px;
  margin-top: 18%;
  text-shadow: 3px 3px 3px black;
}




