.row{

    margin-bottom: 5em;

}

.h1bieres {
    color: white;
    background-color: darkorange;
    font-size: 2em;
    text-align: center;

}

.photo {
    border-radius: 4%;
    width: 350px;
}


.view img {
    display: block;
    position: relative
}

.bieresfd {
    color: white;
    background-color:#E1CE9A;

}




.bieresdumois {
     background-color: #00a7d0;
    height: 100%;

 }