.bieres {
    text-align: center;
}


.h1bieres {

    font-size: 2.5rem;
    font-weight: bolder;
    color: #000;
}


.imgbieres {
    width: 400px;
    border-radius: 5%;
}

.photo-modal {
    width: 300px;
    margin-bottom: 30px;
    border-radius: 5%;
}

.modal-title {

    font-size: 3rem;
    font-weight: bolder;
    color: #000;
}

.p-modal {

    font-size: 2rem;
    color: #000;
}