.row{

    margin-bottom: 5em;

}




.view img {
    display: block;
    position: relative
}

.bieresfd {
    color: white;
    background-color:#E1CE9A;

}


.h1bieres {
    color: white;
    background-color: darkorange;

}

.bieresdumois {
     background-color: #00a7d0;
    height: 100%;

 }
 /*   margin-bottom: 30px; */


.flottant {
    float:left;
}

.pleft {
    margin-left: 35em;
    margin-bottom: 30em;
    white-space:normal;

}
.bierebloc {
    background-image: url('./image/houblon.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 800px;
    padding: 0;
}