.h2brass {
    color: black;
    font-family: 'Roman-Antique';
    text-align: center;
    font-size: 50px;

}
.brasstop {
    background-image: url('../images/brasserietop.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 450px;
}

.brassaccro {
    font-size: 80px;
    font-family: 'Roman-Antique';
    padding-top: 10%;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
}
.brasspara3 {
    text-align: justify;
    font-family: candelabook;
    font-size: 25px;
    margin-bottom: 20px;
}

.brasspara {
    text-align: justify;
    font-family: candelabook;
    font-size: 25px;
}

.brassimgsch {
    width: 40%;
    margin: auto;
}

.brassimgbio {
    width: 20%;
    height: 20%;
    margin: auto;
    margin-bottom:20px;
}


