/** ScrollToTop **/
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 50px;
    display: none;
    color: white;
    background-color: #3a3f51;
    border: 1px solid #3a3f51;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
    border-radius: 60px;
}

.scrollup:hover {
    color: white;
}

.titre_actu{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Roman-Antique';
}
.test {
    min-width: 300px;
}
.image_une {
    margin-bottom: 10px;
    height: 600px;
}

html,
body {
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: #CCC
}
.h_iframe {
    position: relative;
}
.h_iframe .ratio {
    display: block;
    width: 100%;
    height: auto;
}
.h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.barre {
    border-right: 3px solid grey;
    height: 500px;
}
