
.titre_actu{
    text-align: center;
    font-family: 'Roman-Antique';
    font-size: 40px;
}


.imgune {
    margin-bottom: 10px;
    height: 500px;
    width: auto;
    margin: auto;
    border: 5px solid grey;
}
.unetitle {
    font-family: 'Roman-Antique';
    font-size: 40px;
    text-align: center;
}
html,
body {
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: #CCC
}
.h_iframe {
    position: relative;
}
.h_iframe .ratio {
    display: block;
    width: 100%;
    height: auto;
}
.h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fbifra {
    height: 500px;
    width: 600px;
    margin: auto;
    border: none;
 }
.unemoment {
    margin-top: -70px;
    font-family: 'Roman-Antique';
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}

.heightfb {
    height: 300px;
}


.padding{
    padding-bottom: 30px;
}


