/*.err404 {
    text-align: center;
    font-family: 'Roman-Antique';
    font-size: 70px;
    color: black;
    margin-bottom: 100px;
}

.img404 {
    width: 400px;
    margin: auto;
    display: block;
}

*/