@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/lane-narrow/LANENAR_-webfont.eot');
    src: url('../fonts/lane-narrow/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lane-narrow/LANENAR_-webfont.woff') format('woff'),
         url('../fonts/lane-narrow/LANENAR_-webfont.ttf') format('truetype'),
         url('../fonts/lane-narrow/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roman-Antique';
    src: url('../fonts/Roman-Antique.ttf.woff') format('woff'),
    url('../fonts/Roman-Antique.ttf.svg#Roman-Antique') format('svg'),
    url('../fonts/Roman-Antique.ttf.eot'),
    url('../fonts/Roman-Antique.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'candelabook';
    src: url('CandelaBook-webfont.eot');
    src: url('CandelaBook-webfont.eot?#iefix') format('embedded-opentype'),
    url('CandelaBook-webfont.woff') format('woff'),
    url('CandelaBook-webfont.ttf') format('truetype'),
    url('CandelaBook-webfont.svg#candelabook') format('svg');
    font-weight: normal;
    font-style: normal;

}



.text_icon {
    font-family:'lane_-_narrowregular';
    color: black;
    
}

.slogan2 {
    font-family: 'Roman-Antique', cursive;
    color: white;
    font-size: 80px;
}