

.foot-menu {
	text-align: center;
	color : white;
	font-family: 'Roman-Antique';
	padding-left:30px;
	font-size:35px;
	margin:auto;

}


.foot-menu-news {
    text-align: center;
    color : white;
    font-family: 'Roman-Antique';
    font-size:35px;
    margin:auto;

}

.foot_list {
	list-style-type: none;
	margin-top: 3px;
	color :white;
	font-size: 20px;
	font-family: 'candelabook';
	text-align: center;

}

/*
a:hover {
	color: red;
}
*/

.liste_menu {
	color : white;
	text-align: center;

}

.foot-back {
	background-color: black;
	height:300px;

}
.foot-logofb {
	height: 50px;
	width: 50px;

}
.foot-input {
	/*margin: 40px auto auto 20%;*/
	width: 150px;
	margin: auto;
}

.liste-mention {
	list-style-type: none;
	margin-top: 3px;
	color :white;
	font-size: 10px;

}

li {
	color: white;
}


.foot-logowild {
    height: 20%;
    width: 20%;
}

.foot-news-text {
	margin-top: 3px;
	color :white;
	font-size: 20px;
	font-family: 'candelabook';
	text-align: center;
}

.wcs {
    margin-top: 15px;
    text-align: center;
}


