.playtext {
    text-align: justify;
    font-family: candelabook;
    font-size: 25px;
    margin-left: auto;
}
.playimg {
    width: 300px;
}
.playtitle {
    font-family: 'Roman-Antique';
    text-align: center;
    font-size: 40px;
    color: black;
    text-shadow: 3px 3px 3px white;
}
.textplay {
    text-align: justify;
    font-family: candelabook;
    font-size: 25px;
}
.marge {
    margin-bottom: 100px;
}