iframe {

}
.playtext {
    text-align: justify;
    font-family: candelabook;
    font-size: 25px;
    margin-left: auto;
}
.imgplay {
    width:200px;
}
.playtitle {
    font-family: 'Roman-Antique';
    text-align: center;
    font-size: 60px;
    color: black;
    text-shadow: 3px 3px 3px white;
}
.textplay {
    text-align: justify;
    font-family: candelabook;
    font-size: 25px;
}