.map_col {
    margin-bottom:-10px;


}

.map_accueil {

    margin : -15px;

}

.maptitle {
    font-family: 'Roman-Antique';
    text-align: center;
    font-size: 80px;
    color: black;
    text-shadow: 3px 3px 3px white;
    margin-bottom: -11vh;
    margin-top: 0;
    position: relative;
    z-index: 4;
    width: auto;
    height: auto;
}




