.bg_pdv {
    background-image: url('./image/houblon.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 800px;
    padding: 0;
}