
.titre-pdv {
    text-align: center;
    font-family: 'Roman-Antique';
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.ssTitre_pdv {
    text-align: center;
    font-family: 'Roman-Antique';
    color: white;
    text-shadow: 3px 3px 3px black;
}

.pdvbloc {
    background-image: url('../images/houblon.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 450px;
}
.pdvaccro {
    font-size: 80px;
    font-family: 'Roman-Antique';
    padding-top: 8%;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
}