h2 {
    text-align:center;
    padding-bottom: 30px;
    

}

/*.image_une {
    
    width: 100%;
}
*/

.test{
    min-width: 300px;
}

[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

.contact {
    text-align:center;
}