
<link rel="stylesheet" type="text/css" href="{{ asset ('CSS/bout.css')}}">




{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{{ form_start(form, {'method':'POST', 'action':path('vauret_admin_news') }) }}



<span class="input-group-btn">
    <div class="bout">

      {{ form_widget(form) }}
        {{ form_end(form) }}
<button class="btn btn-warning btnnews" type="submit">Envoyer</button>
</div>
    </span>


