{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/actualites.css') }}" type="text/css" />
{% endblock %}

<!--<script type="text/javascript" src="Ton_fichier.js"></script>-->

{% block body %}

    {% block content %}
<!--
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 brass">

                    <img src="{{ asset('images/actualites.jpg/') }}" alt="" />
                    <h1>Actualites 1</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum molestias odio optio quaerat.<br>
                        Aspernatur deleniti facere, harum illum in incidunt ipsam iste maiores praesentium quam rerum soluta ut voluptas.</p>

                    <h1>Actualites 2</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum molestias odio optio quaerat.<br>
                        Aspernatur deleniti facere, harum illum in incidunt ipsam iste maiores praesentium quam rerum soluta ut voluptas.</p>


                </div>
            </div>
        </div>
        -->

        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 brass">

            <figure class="snip1566">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample14.jpg" alt="sq-sample14" />
                <figcaption><i class="ion-android-add"></i></figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1566 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17" />
                <figcaption><i class="ion-android-open"></i></figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample19.jpg" alt="sq-sample19" />
                <figcaption><i class="ion-android-star-outline"></i></figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />
                <figcaption><i class="ion-android-stopwatch"></i></figcaption>
                <a href="#"></a>
            </figure>





        </div>
        </div>
        </div>




    {% endblock %}

{% endblock %}