<div class="container-fluid">
   
    <div class="row">
        {% for une in fil_actualite %}
        <div class="col-lg-offset-2 col-lg-3 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">

            <h2>Bière du mois</h2>
            <img src="{{ asset('upload/' ~ une.filename) }}" alt="" />
            <h2> {{ une.nom }} </h2>

        </div>
        {% endfor %}
    </div>
 <div class="col-lg-1 barre">
        <div class="col-lg-offset-2 col-lg-3 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12 facebook">
            <h2 class="titre_actu"> Suivez-nous !</h2>
                <!--iframe debut-->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbrasserieduvauret%2F&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=44112537848" width="493" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                <!--iframe fin-->
            </div>
        </div>
 </div>
</div>
