
    <!--Bloc Jumbotron -->

        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <div class="row">
                    
                    <h2 class="display-3 slogan2">"Bientôt dans votre verre !"</h2>
                </div>
            </div>
        </div>



