{% extends 'BrasserieBundle::layout.html.twig' %}

{% block head %}
    <meta name="keywords" content="bière, bio, orleans, brasserie, mardie, biere, mardié, biére, biologique, alcool, artisan, artisanal, visite" />
    <meta name="author" content="Points de vente de la Brasserie du Vauret" />
    <meta name="title" content="Où acheter nos bières bio ?" />
    <meta name="description" content="Marchés, cavistes, restaurants,...Retrouvez tous les distributeurs des bières bio de la Brasserie du Vauret." />
    <meta name="subject" content="bière, bio, orleans, brasserie, mardie, biere, mardié, biére, biologique, alcool, artisan, artisanal, visite" />
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <div class="pdvbloc">
            <h1 class="display-3 pdvaccro">"Marchés, Restaurants, Cavistes ...<br /> Retrouvez tous les points de vente de la Brasserie du Vauret"</h1>
        </div>

        <div class="container-fluid">
            <div class="row">

            </div>
        </div>
        <div class="ptdevente">
            <iframe width="100%" height="800px" frameBorder="0" src="http://umap.openstreetmap.fr/fr/map/les-points-de-ventes-de-la-brasserie-du-vauret_108085?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false#10/47.9173/2.0778"></iframe>

        </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}