<div class="container-fluid">
    <div class="row rond-bloc">
        <div class="ico-flip">
            <h1 class="flip-title">La Brasserie du Vauret</h1>
            <h2 class="flip-title2">Bière Artisanale</h2>
            <ul class="ch-grid">
  <li>
      <div class="ch-item">
          <div class="ch-info">
              <div class="ch-info-front">
                  <img class="flip-img" src="../img/shop.png" alt="La Brasserie">
                </div>
                <div class="ch-info-back">
                  <h4 class="ico-flip-title">La Brasserie</h4>
                    <p class="hidden-phone">Decouvrez notre brasserie artisanale</p>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item">
            <div class="ch-info">
                <div class="ch-info-front">
                    <img class="flip-img" src="../img/beer.png" alt="Nos Bières">
                </div>
                <div class="ch-info-back">
                    <h4 class="ico-flip-title">Nos Bières</h4>
                    <p class="hidden-phone">Découvrez notre gamme de bière</p>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </li>
    <li>
      <div class="ch-item">
            <div class="ch-info">
                <div class="ch-info-front">
                    <img class="flip-img" src="../img/map.png" alt="Nos points de vente">
                </div>
                <div class="ch-info-back">
                    <h4 class="ico-flip-title">Points de vente</h4>
                    <p class="hidden-phone">Retrouvez tous nos points de vente<br/></p>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </li>
</ul>
        </div>
    </div>
</div>
<div class="container-fluid row inter_bloc">
        <h1 class="slogan2">"Brassée avec amour et musicalité"</h1>

        </div>