VauretAdminBundle\Entity\Produits:
    type: entity
    table: produits
    repositoryClass: VauretAdminBundle\Repository\ProduitsRepository
    id:
        id:
            type: integer
            id: true
            generator: { strategy: AUTO }
    fields:
        nom:
            type: string
            length: 255
        slug:
            type: text
        contenu:
            type: text
        filename:
            type: string
            length: 100
        une:
            type: string
            length: '6'
        prod:
            type: string
            length: '6'
        updated:
            type:         datetime
            nullable:     true

    lifecycleCallbacks:
        prePersist:   [ lifecycleFileUpload ]
        preUpdate:    [ lifecycleFileUpload ]
