VauretAdminBundle\Entity\Utilisateur:
    type: entity

    table: null

    table: utilisateur

    repositoryClass: VauretAdminBundle\Repository\UtilisateurRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        identifiant:
            type: string
            length: 255
        nom:
            type: string
            length: 255
        prenom:
            type: string
            length: 255
        password:
            type: string
            length: 255
        type:
            type: string
            length: 255
    lifecycleCallbacks: {  }

